/.idea
/node_modules
/.git
/package-lock.json
/.gitignore
/build#.gitignore


/lesson17/node_modules/
/lesson17/package-lock.json
/lesson17/mochawesome-report
/webdriverio/node_modules
/webdriverio/allure-results
/webdriverio/allure-report
/webdriverio/screenshots


node_modules/
/playwright/playwright-report
/playwright/cred.ts

/cypress/


/build


#.gitignore

#Файл .gitignore необходимо добавить в корень проекта и в нем указать список исключений.

#	Комментарий
#/file.a	Игнорировать файл file.a в текущем каталоге
#*~	Игнорировать все файлы, заканчивающиеся на тильду «~»
#*.[ab]	Игнорировать файлы, заканчивающиеся на .a или .b
#*.a	Игнорировать все файлы, заканчивающиеся на .a
#!file.a	Но, не игнорировать файл file.a
#!dir/	Но не игнорировать каталог dir/
#Если файл или каталог находятся не в корне, нужно писать !dir1/dir2/dir/
#/*.a	Игнорировать все файлы, заканчивающиеся на .a в текущем каталоге
#dir/	Игнорировать все файлы в каталоге dir/
#/dir/	Игнорировать каталог /dir и все его содержимое


